body{
	background-color: black;
	color: white;
	font-family: helvetica;
	font-size:  7vw;
	margin-top: -7vh;
	margin-left: 6vw;
}
#img{
	align-content: right;
	text-align: right;
	display: block;
	margin-top: -20vh;
	margin-right:  6vw;
}

img{
	width: 15%;

}

img:hover{
	transform: rotate(45deg);
}

@media only screen and (max-width: 600px){
	body{
		margin-top: 40vh;
		font-size:  8vw;
	}
	#img{
		margin-top: 0;
		margin-right:auto;
		margin-left: auto;
		text-align: left;
		justify-content: left;
	}
	img{
	width: 35%;

}
}