body{
	background-color: black;
	color: white;
	font-family: helvetica;
	font-size:  6.75vw;
	margin-top: -5vh;
	margin-left: 5vw;
	line-height: 25vh;
/*	transition: 10s;*/
	position: relative;
}

#img{
	align-content: right;
	text-align: right;
	display: block;
	margin-top: 18vh;
	margin-right:  4vw;
}

img{
	width: 19%;
}

img:hover{
	transform: rotate(45deg);
}

.title{
	display: block;
	margin-bottom: -18vh;
}

.titles{
	z-index: 100;
}

.circle {
  display: inline-block;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  z-index: -100;
}

@media only screen and (max-width: 1400px){
	body{
		margin-top: -4vh;
		line-height: 20vh;
	}
	#img{
		margin-top: 17vh;

	}
	img{
		width: 20%;
	}
	.title{
		margin-bottom: -12vh;
	}
}


@media only screen and (max-width: 900px){
	body{
		margin-top: 44vh;
		font-size:  8vw;
		line-height: 11vh;
	}
	#img{
		margin-top: 10vh;
		margin-right:auto;
		margin-left: 5vw;
		text-align: left;
		justify-content: left;
	}
	img{
		width: 35%;
	}
	.title{
		margin-bottom: -6.5vh;
	}
}

@keyframes move{
from{
	
}
to{
	
}
}

@media only screen and (max-width: 1000px){
	.title{
		margin-bottom: -20vh;
		font-size: 15vw;
	}
}

@media only screen and (max-height: 800px){
	body{
		line-height: 28vh;
		margin-top: -10vh;
	}
}


@media only screen and (max-height: 750px){
	body{
		line-height: 26.5vh;
		margin-top: -6vh;
		font-size:  6.5vw;
	}
	img{
		width: 16%;
	}
}

@media only screen and (max-height: 700px){
	body{
		line-height: 11vh;
		margin-top: 20vh;
		font-size:  8vw;
	}
}

@media only screen and (max-width: 500px){
	body{
		margin-top: 45vh;
		font-size:  8vw;
		line-height: 11vh;
	}
	#img{
		margin-top: 12vh;
		margin-right:auto;
		margin-left: 5vw;
		text-align: left;
		justify-content: left;
	}
	img{
		width: 35%;
	}
	.title{
		margin-bottom: -8vh;
	}
	.circle{
	width: 1.1em;
  height: 1.1em;
	}
}



@media only screen and (max-width: 450px){
	body{
		margin-top: 50vh;
		line-height: 7vh;
	}
	#img{
		margin-top: 8vh;
		margin-right:auto;
		margin-left: 5vw;
		text-align: left;
		justify-content: left;
	}
	img{
		width: 35%;
	}
	.title{
		margin-bottom: -4vh;
		font-size:  15.75vw;
	}
	.circle{
	width: 1.1em;
  height: 1.1em;
	}
}

@media only screen and (max-width: 400px){
	body{
		margin-top: 47vh;
		line-height: 8vh;
	}
	.title{
		margin-bottom: -5vh;
	}
}








