body{
	background-color: #FF1E46;
	font-family: helvetica;
  font-weight: 900;
  margin: 0;
  margin-top: 30vh;
  text-align: left;
  color: white;
}


.header{
 position: fixed; 
  top: 0;
  background-color: #FF1E46;
  z-index: 100;
  padding-bottom: 4vh;
/*  border: 1px solid white;*/
}

.circle >a{
  text-decoration: none;
  color: #FF1E46;
}

.circle:hover{
background-color: #FF1E46;
color: white;
border: 1px solid white;
padding: 4.175vw;
}

.circle>a:hover{
  color: White;
}

.box{
  display: inline-flex;
  align-items: center;
}

.container{
  align-items: center;
  border: 1px solid white;
  width: 100%;
  height: 100%;
  margin-bottom: 3vh;
}

.container:hover{
  border: 3px solid white;
}

.boxcontent{
  display: flex;
  align-items: center;
  padding: 1vw;
/*  border: 1px solid white;*/
  justify-content: space-between;
   box-sizing: border-box;
}

.mark:before {
  content: "";
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 1%;
  border-bottom: 1px solid white;
}

.btn{
  border-radius: 100%;
  width: 38px;
  height: 38px;
  align-items: center;
  display: flex;
  margin: -.15vw;
  font-size: 1.25vw;
  border: 1px solid white;
  text-align: center!important; 
  justify-content: center;
}


.filters{
  display: block;
  justify-content: center;
  position: relative;
  margin: auto;
  text-align: right!important; 
/*  margin-right: 1vw;*/
}

button{
  background-color: transparent;
  border: none;
  text-align: center!important;
  font-family: helvetica;
  font-weight: 900; 
}

button:hover{
  cursor: pointer;
}

.circle{
  border-radius: 100%;
  padding: 4.25vw;
  display: flex;
  align-items: center; /* centers vertically */
  justify-content: center; /* centers horizontally */
  width: 10px;
  height: 10px;
  color: #FF1E46;
  position: relative;
  margin: 1vw;
  background-color: white;
  font-size: 6.25vw;
}

.lines{
  border-radius: 100%;
  z-index: 90;
  padding: 1.5vw;
  display: inline-flex;
  align-items: center; /* centers vertically */
  justify-content: center; /* centers horizontally */
  width: 1px;
  height: 1px;
  position: relative;
  margin: .35vw;
  border: 1px solid white;
  font-size: 1.5vw;
  color: white;
}

.lines:hover{
  color: #FF1E46;
  background-color: white!important;
}


.street{
  display: flex;
}


.text{
	display: flex;
  font-size: 6.25vw;
  margin-right: 1.25vw;
}

.info{
  display: inline-flex;
  align-items: center;
}

#entrances{
  font-size: 2vw;
  margin: 1vw;
}

.name{
  margin-right: 1vw;
}

.exit > a{
  text-decoration: none;
  color: white;
}

.loco > a{
  text-decoration: none;
  color: white;
  font-size: 1vw;
}

.loco > a:hover{
  text-decoration: underline;
}

.exit{
  font-size: 3vw;
  background-color: red;
  padding:  0.1vw;
  color: white;
  border: 1px solid white;
}

.exit > a:hover{
  background-color: white;
  color: red;
}

.location{
  display: block;
  text-align: center;
  justify-content: right;
  margin-right: 0;
  align-items: center;
  float: right; /* add this */
}

img{
  width: 13%;
  margin-bottom: -2vh;
  margin: auto;
  margin-right: 0.5vw;
  float: right; /* add this */
}

img:hover{
  transform: rotate(45deg);
}

.body{
  display: flex;
}

.path{
  width: 7.25vw;
  height: 16.5vh;
  margin-left: 1.25vw;
  margin-right: 1.75vw;
/*  display: flex;*/
  background-color: white;
  position: relative;
}


.path:before {
  content: "";
  position: absolute; /* add this */
  top: 40%; /* add this */
  left: 50%; /* add this */
  transform: translate(-50%, -50%); /* add this */
  display: block;
  width: 70%;
  padding-top: 70%;
  border-radius: 50%;
  background-color: #FF1E46;
}

@media only screen and (max-width: 700px){
  body{
    margin-top: 30vh;
  }
  .btn{
    font-size: 5vw;
    padding: 1.5vw;
    width: 25px;
    height: 25px;
    margin-bottom: 1vh;
    margin-right: -3vw;
  }

  .filters{
    width: 95%;
    justify-content: right;
    margin-right: 1vw;
  }
  .text{
    font-size: 6vw;
    margin-right: 2vw;
  }
  .exit{
  font-size: 3.5vw;
  }
  .lines{
    font-size: 3vw;
    margin-top:vh;
    padding: 2.5vw;
    width: ;
  }


.mark:before {
  width: 100%;
  margin: 0;
  padding-top: 3%;
}
.container{
  margin-bottom: 2vh;
  margin-right: 1vw;
}
.path{
  width: 8.5vw;
  height: 13vh;
  margin-left: 1.75vw;
  margin-right: 3vw;
}
img{
  width: 4.5vh;
}
.header{
  padding-bottom: 3vh;
}
.info{
  display: block;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100%;
}
.name{
    font-size: 5vw;
    width: 75%;
  }
.path:before{
  top: 28.5%;
}
.lines>a{
  text-decoration: none;
}
}



